.App {
  text-align: center;
  height: 90vh;
  padding: 40px;
  z-index: 0;
}
.results {
  height: 100%;
  -webkit-box-shadow: -5px 6px 5px 1px rgba(224, 220, 224, 0.315);
  -moz-box-shadow: -5px 6px 5px 1px rgba(224, 220, 224, 0.315);
  box-shadow: -5px 6px 5px 1px rgba(224, 220, 224, 0.315);
  border-bottom: 1px solid black;
  border-top: 2px solid rgb(117, 107, 161);
  border-left: 0.5px solid rgba(117, 107, 161, 0.274);
  border-right: 0.5px solid rgba(117, 107, 161, 0.274);

  border-radius: 9px;
}
.resultItem {
  text-align: left;
  z-index: 1000;
  margin-top: 1px;
  padding-left: 5px;
  height: 30px;
  -webkit-box-shadow: -1px 1px 1px 1px rgba(224, 220, 224, 0.315);
  -moz-box-shadow: -1px 1px 1px 1px rgba(224, 220, 224, 0.315);
  box-shadow: -1px 1px 1px 1px rgba(224, 220, 224, 0.315);
  padding: 10px;
}
.resultItem:hover {
  border-radius: 7px;
  border-bottom: 2px solid rgb(117, 107, 161);
  border-right: 2px solid rgba(117, 107, 161, 0.616);
  padding-top: 15px;
  background-color: rgba(187, 173, 201, 0.171);
}
.resultItem:active {
  border-radius: 7px;
  border-bottom: 2px solid rgb(117, 107, 161);
  border-right: 2px solid rgba(117, 107, 161, 0.616);
  padding-top: 15px;
  background-color: rgba(154, 105, 204, 0.171);
  color: rgb(29, 15, 90);
}
.resultItem:focus {
  font-size: 30px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 3px solid rgb(117, 107, 161);
  border-radius: 10px;
}
.inputWrapper input {
  /* width: 9%; */
  height: 20px;
  font-size: large;
  -webkit-box-shadow: -5px 6px 5px 1px rgba(224, 220, 224, 0.41);
  -moz-box-shadow: -5px 6px 5px 1px rgba(224, 220, 224, 0.41);
  box-shadow: -5px 6px 5px 1px rgba(224, 220, 224, 0.41);
}
.inputWrapper label {
  width: 300px;
  font-size: small;
}
.input {
  padding: 20px;
  border-bottom: 2px solid rgb(117, 107, 161);
  border-radius: 5px;
}
.root {
  overflow: scroll;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 1px;
}
.loading {
  margin: 20px;
}
